@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #1F2937;
    
}

.wrapper {
    max-width:1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.links {
    display: flex;
    gap: 20px;
}


.logo-text {
    font-size : 24px;
    color: #F9FAF8
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 150px 0;
}

.hero-text {
    max-width: 500px;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-heading {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-information {
    font-size: 18px;
    color: #E5E7EB
}

.hero-signup {
    background-color: #3882f6;
    font-size: 20px;
    color: #F9FAF8;
    font-weight: 500;
    border-style: none;
    border-radius: 5px;
    padding: 8px 20px;
    margin-top: 12px;
    
}

.hero-img {
    background-color: grey;
    width: 500px;
    height: 200px;
}

.information-title {
    font-size: 36px;
    font-weight: 900px;
    color: #1F2937;
    text-align: center;
    margin-bottom: 40px;
}


.information {
    display: flex;
    justify-content: center;
}

.information-container {
    width: 900px;
    margin-top: 40px;
    margin-bottom: 100px;
}


.info-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    width: 200px;

}

.info-img {
    border:#3882f6 solid;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.info-subtext {
    font-size: 18px;
    color: #1F2937;
    text-align: center;
}

.quote {
    
    display: flex;
 
    justify-content: center;
}

.quote-container {
    width: 825px;
    margin: 100px 0;
}

.quote {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}

.author {
    font-size: 24px;
    color:#1F2937;
    font-weight: 900;
    text-align: right;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-container {
    background-color: #3882f6;
    width: 1200px;
    margin:100px ;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    flex-wrap: wrap;
    gap: 20px;
    
}

.call-title {
    font-size: 24px;
    color:#F9FAF8;
}

.call-subtext {
    font-size: 18px;
    color:#E5E7EB;
}

.call-button {
    background-color: transparent;
    border:#F9FAF8 solid 2px;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 600;
    color:#F9FAF8;
    padding: 10px 50px;
}

.footer {
    background-color:#1F2937;
    color:#E5E7EB;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}